.security {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .security h1 {
    color: #100404;
    text-align: left;
    width: 100%;
  }
  
  .security-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
  }
  
  .security-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .security-item label {
    font-size: 16px;
    color: #4a4a4a;
    margin-right: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .security-button {
    background-color: #271616;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }